@font-face {
  font-family: 'lakeshore';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/LAKESHOR-webfont.woff') format('woff'),
  url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
  url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
}

@font-face{
  font-family: 'airstreamregular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/Airstream-webfont.woff') format('woff'),
  url('fonts/Airstream-webfont.ttf') format('truetype'),
  url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
}

html, body {
  height: 100%;
}

body {
  background: rgb(149, 194, 215);
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

a[href="#"] {
  text-decoration: none;
}

.main-header{
  flex: 0 1 auto;
}

.main-content{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.logo-text {
  background: white;
  font-family: lakeshore;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
}

.detail-img-frame {
  position: relative;
  text-align: center;
  transition: transform 333ms cubic-bezier(1,.06,.28,1);
}

.detail-img-slider{
  font-size: 40px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
}

.detail-img-container{
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-img-title{
  bottom: -16px;
  font-family: airstreamregular;
  color: white;
  font-size: 40px;
  left: 4px;
  position: absolute;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
}

.thumbnail-item {
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  display: inline-block;
  min-width: 120px;
  max-width: 120px;

  transition: transform 133ms;
}

.thumbnail-item:hover {
  transform: scale(1.2);
}

.thumbnail-img {
  display: block;
  width: 100%;
}

.thumbnail-title {
  background: rgb(96,125, 139);
  color: rgb(202, 238, 255);
  display: block;

  font-size: 2.3em;

  margin: 0;
  padding: 4px 10px;

}

.is-tiny {
  transform: scale(0.001);
  transition: transform 0ms;
}

.detail-img {
  width: 90%;
}

.thumbnail-list {
  display: flex;
  flex: 0 1 auto;
  list-style: none;
  justify-content: space-between;
  order: 2;
  overflow-x: auto;
  padding: 20px 0;
  margin-left: 20px;
  text-decoration: none;
  white-space: nowrap;

}

.thumbnail-item{
  max-width: 260px;
}

.hidden-detail .detail-img-container {
  display: none;
}

.hidden-detail .thumbnail-list {
  flex-direction: column;
  align-items: center;
  padding: 0 35px;
}
.hidden-detail .thumbnail-item {
  max-width: 80%;
}

@media all and (min-width: 768px) {
  .main-content {
    flex-direction: row;
    overflow: hidden;
  }
  .thumbnail-list {
    flex-direction: column;
    order: 0;
    margin-left: 20px;
    padding: 0 35px;
  }

  .detail-img-slider {
    font-size: 60px;
  }
}
